<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog :: Index</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">Blog</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'Blog_App:addblog' %}">Add Blog <span class="sr-only">(current)</span></a>
                  </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            {% for i in all_blog %}
            <div class="col-sm-3  my-3">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{i.blog_image.url}}" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">{{i.title}}</h5>
                      <p class="card-text">{{i.content}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">Author Name : {{i.author}}</li>
                    </ul>
                    <div class="card-body">
                        <a href="{% url 'Blog_App:view' i.pk %}" class="card-link"><button type="button" class="btn btn-primary">View</button></a>
                        <a href="{% url 'Blog_App:delete' i.pk %}" class="card-link"><button type="button" class="btn btn-danger">Delete</button>
                        </a>
                      </div>
                  </div>
            </div>
            {% endfor %}
        </div>
    </div>



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html> 